/* global definitions */
:root {
	/* this sets a lot of our sizing rules and defines various spacing paramters */
	--ratio: 1.25;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: .9rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
	/* this is mainly used to define/exclude/capture the max-inline-size, in units of characters */
	--measure: 60ch;
	/* column width */
	--column: 8rem;
	/* row height */
	--row: 3.2rem;
}

/* universal definitions */
* {
	box-sizing: border-box;
	max-inline-size: var(--measure);
	font-size: var(--s0);
	font-family: 'EB Garamond', serif;
    font-weight: 500;
	cursor: default;
	scrollbar-color: black;
}

*::-webkit-scrollbar {
	width: var(--s-2);
	height: var(--s-2);
	background-color: #ebebeb;
}
*::-webkit-scrollbar:hover { background-color: transparent; }
*::-webkit-scrollbar-thumb { background: #000; }
*::-webkit-scrollbar-thumb:hover { background: orange; }

/* important exclusions to the max-inline-size definition */
html,
body,
div,
header,
nav,
main,
footer,
.cover,
img {
  max-inline-size: none;
}

body { background-color: #fbfbfb; }

a:link { text-decoration: none; color: orange; cursor: pointer; }
a:visited { text-decoration: none; color: orange; }
a:hover { font-weight: 800; color: orangered; }

h1 { font-family: sans-serif; font-weight: bolder; font-size: var(--s4); margin-bottom: var(--s4); }
h2 { font-family: sans-serif; font-weight: bold; font-size: var(--s2); margin-left: var(--s3); margin-top: 5rem; }
h3 { font-family: sans-serif; font-weight: normal; font-size: var(--s0); margin-left: var(--s5); margin-top: 5rem; text-indent: 1.5ch; }
h4 { font-family: sans-serif; font-weight: normal; font-size: calc(var(--s-1)*1.1); margin-left: var(--s5); font-style: italic; }
h5 { font-family: sans-serif; font-weight: normal; font-size: calc(var(--s-1)*1.1); margin-left: var(--s5); }

img { border: solid var(--s-5) transparent; padding: var(--s-5); }
img:hover { border-color: orange; }

span.blockspam { display: none; }

#t { display: flex; padding: var(--row) var(--s5); height: 95vh;}

#x1, #x2, #x3 { width: var(--column); }

.y div { height: var(--row); }

.invert { background-color: black; }
.invert *::-webkit-scrollbar { background-color: #313131 }
.invert *::-webkit-scrollbar:hover { background-color: transparent; }
.invert *::-webkit-scrollbar-thumb { background: #ffffff; }
.invert *::-webkit-scrollbar-thumb:hover { background: orange; }
.invert h1 { color: white; }
.invert h2 { color: white; }
.invert h3 { color: white; }
.invert h4 { color: white; }
.invert h5 { color: white; }
.invert p { color: white; }

#text { 
	position: absolute; 
	margin-left: calc(var(--column) * 2); 
	width: calc(var(--column) * 2.5);
	height: calc(var(--row) * 4);
	overflow: hidden;
}

#content-box { 
	position: absolute;
	margin-left: calc(var(--column) * 3);
	padding-left: calc(var(--column) * 0.5);
	padding-right: var(--s3);
	height: 90vh;
	width: 65vw;
	min-width: 45rem;
	overflow-x: hidden;
	overflow-y: auto;
}
#content-box > div { 
	display: flex; 
	block-size: auto;
	margin-top: var(--s2); 
	margin-bottom: var(--s5); 
	overflow-x: auto; 
	overflow-y: hidden;
}
#content-box > div > * { flex: 0 0 auto; }
#content-box > div > img { block-size: 100%; flex-basis: auto; width: auto; }
#content-box > div > * + * { margin-inline-start: 1rem; }
#content-box > div.overflowing { padding-block-end: 1rem; }

.contentbox_img { position: inherit;}

.contentbox_img_main { display: inline; }
.contentbox_img:hover .contentbox_img_main { display: none;}

.contentbox_img_alt { display: none; }
.contentbox_img:hover .contentbox_img_alt { display: inline;}

.index_img { position: absolute; width:10vw; bottom:20vh; right:10vw;}

.index_img_main { display: inherit; width:10vw; bottom:20vh; right:10vw; opacity:0.1;}
.index_img:hover .index_img_main { display: none;}

.index_img_alt { display: none; }
.index_img:hover .index_img_alt { display: inherit; width:10vw; bottom:20vh; right:10vw; opacity:1; border: none;}

#player {
	display: block;
  	margin-left: auto;
	margin-right: auto;
	margin-top: calc(var(--row) * 5);
}


